@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

:root {
  --font-default: "Nunito";
  --font-light: 300;
  --font-bold: 700;

  --font-large: 3rem;
  --font-regular: 1.5rem;
  --font-small: 1rem;
  --font-xsmall: 0.5rem;

  --bg-colour: #ededed;
  --text-color: #1a1a1a;

  --colour-gray-1: #bbbbbb;
  --colour-gray-2: #898989;

  --colour-gold: #d6a829;
  --colour-silver: #8a8986;
  --colour-bronze: #874a2b;

  --color-green: #4cc259;
  --color-blue: #4c5ec2;
  --color-red: #c24c4c;
}

body {
  margin: 0;
  background-color: var(--bg-colour);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

* {
  font-family: var(--font-default);
}

#__next {
  height: 100%;
}

.button {
  background-color: var(--colour-gray-1);
  border-radius: 1rem;
  font-family: var(--font-default);
  font-size: var(--font-regular);
  color: var(--text-color);
  border: none !important;
  transition: ease-in-out 0.2s background-color;
}

.button:focus {
  background-color: var(--colour-gray-2);
  border: none !important;
  transition: ease-in-out 0.2s background-color;
}

.button:hover {
  background-color: var(--colour-gray-2);
  transition: ease-in-out 0.2s background-color;
}

.button-primary {
  background-color: var(--color-blue);
  border-radius: 50%;
  font-family: var(--font-default);
  font-size: var(--font-regular);
  font-weight: var(--font-bold);
  color: var(--bg-colour);
}

.button-primary:focus {
  background-color: var(--color-blue);
  border-radius: 50%;
  font-family: var(--font-default);
  font-size: var(--font-regular);
  font-weight: var(--font-bold);
  color: var(--bg-colour);
  border: none;
}