@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

.header1 {
  font-family: var(--font-default);
  font-size: var(--font-large);
  color: var(--text-color);
  border-radius: 50%;
  margin: 0;
}

.iocontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.btnprimary {
  font-size: var(--font-regular);
  background-color: var(--colour-gray-1);
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
}